body {
    font-family: Poppins;
}

.nav-link {
    color: white !important;
    font-size: 20px;
    font-weight: 800;
}

.navbar {
    background-color: rgba(182, 217, 56, .9);

}

.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}
/* breadcrumb section */
.breadcrumb{
    position: relative;
    z-index: 1;
    background: #383a3a;
}
.breadcrumb .crumb-inner{
    font-size: 15px;
    color: #fff;
}