* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: Poppins;
}

.nav-link {
    color: white !important;
    font-size: 20px;
    font-weight: 800;
}

.navbar {
    background-color: rgba(182, 217, 56, .9);

}

.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}

.container {
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: rgba(182, 217, 56, .9);
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.3rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
}

.input-field input:placeholder-shown {
    color: white;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgba(182, 217, 56, .9);
    border-radius: 48px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all .5s;
}

.btn:hover {
    background-color: rgba(182, 217, 56, 9);
}