* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: Poppins;
}

.nav-link {
    color: white !important;
    font-size: 20px;
    font-weight: 800;
}

.navbar {
    background-color: rgba(182, 217, 56, .9);

}

.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}