*{
  margin: 0;
  padding: 0;
 
}
.nav-link {
  color: white !important;
  font-family: "Poppins" sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  scroll-behavior: smooth;
}
.navbar {
  background-color: #abeb45;
}
.navbar-nav :visited a,
.navbar-nav :hover a,
.navbar-nav :active a,
.navbar-nav:focus a,
.navbar-nav :link a{
  color: red !important;
}

.options {
  background-image: url("https://static01.nyt.com/images/2018/03/07/dining/00IMPORTS/00IMPORTS-articleLarge.gif?quality=75&auto=webp&disable=upscale");
  height: 100vh;
}
#deliveryoptions {
  
  padding: 20%;
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  
}
.flex-parent {
  display: flex;
}
.jc-center {
  justify-content: center;
}

.deliversection {
 display: none;
}
#pickup {
  background-color: #ABEB45;
  margin-right: 20px;
  color: white;
  font-weight: bolder;
}
#deliver {
  background-color: #ABEB45;
  margin-left: 20px;
  color: white;
  font-weight: bolder;
}
.mask {
  background-image: url("https://images.pexels.com/photos/264537/pexels-photo-264537.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  position: relative;
}
.title-style{
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  background-color: black;
}
.title-quote{
  font-family: 'Poppins';
  font-weight: bolder;
  color: white;
  font-size: large;
}
.delivery-details {
  color: black;
  font-weight: bolder;
 }
#deliverysubmitbutton {
  background-color: #ABEB45;
  font-weight: bolder;
}
.card-delivery{
  position: relative;
  background-image: url("https://static01.nyt.com/images/2018/03/07/dining/00IMPORTS/00IMPORTS-articleLarge.gif?quality=75&auto=webp&disable=upscale");
  height: 100vh;
  display: none;
}
.delivery-feedback {
  background-color: rgba(171, 235, 69, 0.7);
  position: absolute;
  color: black;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  }
#pickup-button, #pickup-btn {
  justify-content: center;
  margin-top: 35%;
  margin-left: 2%;
  
}
.pickup-feedback {
  position: relative;
  text-align: center;
  display: none;
  background-image: url("https://static01.nyt.com/images/2018/03/07/dining/00IMPORTS/00IMPORTS-articleLarge.gif?quality=75&auto=webp&disable=upscale");
  height: 100vh;
  justify-content: center;
}
.card-pickup {
  display: none;
  overflow: hidden;
 
}
.p1{
  position: absolute;
  background-color: rgba(171, 235, 69, 0.7);
  color: white;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
  padding: 10px;
  margin-top: 20%;
  margin-left: 35%;
  margin-right: 30%;
  
}