
 body{
    margin: 0;
    padding: 0;
}
body {
   font-family: Poppins;
}

.nav-link {
   color: white !important;
   font-size: 20px;
   font-weight: 800;
}

.navbar {
   background-color: rgba(182, 217, 56, .9);

}

.navbar .sign-up-btn {
   min-width: 110px;
   max-height: 36px;
}
#logo{
   border-radius: 15px 50px 30px
}
.container , h1{
   margin-top: 70px;
   text-align: center;
   color:teal;
   font-weight: bold;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /* backface-visibility: visible; */
}
.part-1{
   background-color:whitesmoke;
   width:30%;
}
p{
   font-family: 'Times New Roman', Times, serif;
}
h4{
   font-weight: bold;
}

h3{
   font-weight:bolder;
   font-size: large;
   color:blanchedalmond; 
}
.container-fluid , p{
   font-weight: bold;
   font-size: large;
   color:blanchedalmond;
}
.container-fluid{
   display: flex;
   justify-content:right;
}


#show-acc{
   display: block;
}
.container{
   border: 2px solid greenyellow;
   height: 1500px;
}
.icon{
   display: flex;
   justify-content: center;
}
.icon img{
   color: black;
   border:1px solid teal;
   margin-left: 6px;

}
button{
   text-align: left;
}
button ,a {
   color: black;
   font-weight: 800;
}
.details{
   height: 550px;
   width: 700px;
   border: 8px  solid seashell;
   background-color: rgb(175, 255, 47);
   border-radius:2px;
   border-bottom-left-radius: 50px;
   border-top-right-radius: 50px;
}
.info{
   text-align: center;
   /* display: none; */
}
.Details2{
   height: 500px;
   width: 800px;
   border: 8px  solid seashell;
   background-color: rgb(175, 255, 47);
   border-radius:2px;
   border-bottom-right-radius: 50px;
   border-top-left-radius: 50px;
   padding-top: 100px;
   margin-left: 400px;
}
h2{
   text-align: center;
}
h6{
   border-left: 6px solid gold ;
    font-weight: bolder;
    font-size: large;
    color:black;
    padding-left:6px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

 h2{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:black;
 }
#next-pic{
    padding-top: 300px;
    padding-left: 200px;
    text-align: right;
    width: 600px;
}
#img-ttle{
    width:450px;
} 
#edit{
   background-color:darkcyan;
   color: black;
   width: 20%;
   border-radius: 3px;
   border:2px solid whitesmoke;

}
#next-pic{
   margin-left: 100px;
}
#wrapper{
   padding-top: 380px;
   font-weight: bold;
   text-align: center;
   font-size: medium;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
}
.tname , h6 {
   text-align: center;
   color: black;
}
.tname ,p{
   color:black;
}