* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  overflow-x: hidden;
}
.navbar-nav :visited a, .navbar-nav :hover, .navbar-nav :active, .navbar-nav:focus{
    color: red !important;
}

.nav-link {
  color: white !important;
  font-family: "Poppins" sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.navbar {
  background-color: #abeb45;
  /* height: 8vh; */
}

.navbar .sign-up-btn {
  min-width: 110px;
  max-height: 36px;
}
/* About Us */
.about-us {
  height: 100vh;
  /* border: 2px solid palevioletred; */
}
.img-fluid {
  position: absolute;
  width: 50%;
  height: 100vh;
  left: 0px;
  /* top: 70px; */
  background: url(../img/abt.jpeg);
}
.abtext {
  height: 100vh;
  background-color: #85ec7e;
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  justify-content: center;
  align-self: center;
  text-align: center;
  color: #000000;
  padding-top: 1%;
}
.homeicons {
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.homeicons h4 {
  font-size: 18px;
}
.homeicons i {
  color: white;
  height: 0px;
  font-size: 64px;
  height: 16px;
}
/* Foter */
footer {
  font-family: "Poppins" sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: black;
}
